:root {
  --primary: #ff5252; /* red accent-2 */
  --secondary: #1565c0; /* #ffa000  blue darken-3 */
}

html {
	font-family: 'Roboto', sans-serif;
}

.mono {
    font-family: 'Roboto Mono', monospace;
}

.bold {
    font-weight: bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding-bottom: 20px;
    flex: 1 0 auto;
    background-attachment: fixed;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f5f5f5' fill-opacity='0.61'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
    color: var(--secondary);
}

input[type="file"] {
    display: none;
}
input[type="submit"] {
    display: none;
}

hr {
    border: 0;
    border-top: 1px solid #e0e0e0;
}

nav .nav-wrapper {
  padding: 0 20px;
}

nav .nav-wrapper ul {
    font-weight: bold;
}

.nav-wrapper > ul > li > a:hover {
    color: var(--primary);
    transition: 0.7s;
}

.row {
    margin-bottom: 0px;
}

.collection-item.avatar {
    min-height: 62px !important;
}
